*,*: before, *: after{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
.header__body {
  display: flex;
  flex-direction: row;
  margin-left: 42.72px;
  margin-top: 24px;
}
.header__logo {
  margin-top: 0px;
  margin-left: 32px;
  width: 166px;
  height: 51px;
}
.header__menu {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  margin-top: 16px;
  margin-left: 258.14px;
}
.menu__link_models {
  width: 62px;
  height: 19px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}
.menu__link_modelX {
  width: 63px;
  height: 19px;
  top: 40px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  margin-left: 58px;
}
.menu__link_model3 {
  width: 61px;
  height: 19px;
  top: 40px;
  margin-left: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}
.menu__link_roadster {
  width: 70px;
  height: 19px;
  top: 40px;
  margin-left: 37px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}
.menu__link_energy {
  width: 55px;
  height: 19px;
  top: 40px;
  margin-left: 40px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}
.menu__link_shop {
  width: 69px;
  height: 19px;
  top: 40px;
  margin-left: 217px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}
.menu__link_enter {
  width: 50px;
  height: 19px;
  top: 40px;
  margin-left: 25px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}
/*Первая секция сайта */
.title__models-black {
  text-align: center;
  margin-top: 58px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 88.5px;
  line-height: 110px;
  margin-bottom: 0px;
  height: 100px;
}
.title__second-title {
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14.5px;
  line-height: 18px;
  margin-top: 1px;
}
.drive__background_tesla {
  width: 1514px;
  height: 467px;
  margin-left: -48px;
  margin-top: -120px;
  opacity: 0.1;
  background-position: center;
}
.drive__red_car {
  width: 968px;
  height: 450px;
  margin-left: 230px;
  margin-top: -340px;;
}
.drive__speed {
  width: 3.45%;
  margin-left: 347px;
}
.drive__cruising {
  display: inline;
  width: 2.9%;
  margin-left: 172px;
  margin-top: 20px;
}
.drive__test {
  width: 1.5%;
  margin-left: 205px;
}
.drive__button_color_red {
  width: 147px;
  height: 24px;
  left: 966px;
  top: 776px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #E51937;
  width: 160px;
  height: 40px;
  margin-left: 40px;
  top: 765px;
  border: 2px solid #E51937;
  box-sizing: border-box;
  background: white;
}
.drive__vector {
  width: 28px;
  height: 14px;
  margin-left: 706px;
  margin-top: 39px;
}
