*,*: before, *: after{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
.header__body {
  display: flex;
  flex-direction: row;
  margin-left: 42.72px;
  margin-top: 24px;
}
.header__menu {
  font-family: 'Montserrat';
  margin-top: 16px;
  margin-left: 258.14px;
}
.menu__link_models {
  width: 62px;
  height: 19px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
}
.menu__link_modelX {
  width: 63px;
  height: 19px;
  left: 592px;
  top: 40px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  padding-left: 63.14px;
}
.menu__link_model3 {
  width: 61px;
  height: 19px;
  left: 679.86px;
  top: 40px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  padding-left: 24.86px;
}
.menu__link_roadster {
  width: 70px;
  height: 19px;
  left: 784.86px;
  top: 40px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  padding-left: 44px;
}
.menu__link_energy {
  width: 55px;
  height: 19px;
  left: 900.86px;
  top: 40px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  padding-left: 46px;
}
.menu__link_shop {
  width: 69px;
  height: 19px;
  left: 1177px;
  top: 40px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  padding-left: 221.14px;
}
.menu__link_enter {
  width: 50px;
  height: 19px;
  left: 1276px;
  top: 40px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  padding-left: 30px;
}
/*Первая секция сайта */
.title__models-black {
  width: 370px;
  height: 110px;
  margin-left: 535px;
  margin-top: 133px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 90px;
  line-height: 110px;

}
.title__second-title {
  width: 241px;
  height: 19px;
  margin-left: 600px;
  font-family: 'Montserrat-Light';
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
}
.drive__red_car {
  width: 968px;
  height: 450px;
  margin-left: 273px;
  margin-top: -320px;
}
.drive__speed {
  width: 150px;
  height: 58px;
  margin-left: 321px;
  margin-top: 26px;
}
.drive__cruising {
  width: 150px;
  height: 58px;
  margin-left: 82.3px;
  margin-top: 26px;
}
.drive__test {
  width: 118px;
  height: 28px;
  margin-left: 135px;
  margin-top: -50px;
}
.drive__background_tesla {
  width: 1514px;
  height: 467px;
  margin-left: -74px;
  margin-top: -133px;
  opacity: 0.1;
  background-position: center;
}
.drive__button_color_red {
  width: 147px;
  height: 24px;
  left: 966px;
  top: 776px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #E51937;
  width: 160px;
  height: 40px;
  margin-left: 40px;
  top: 765px;
  border: 2px solid #E51937;
  box-sizing: border-box;
  background: white;
}
.drive__vector {
  width: 28px;
  height: 14px;
  margin-left: 706px;
  margin-top: 39px;
}
